/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body:before {
  content: '';
  display: inline-block;
  background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font: 100% Helvetica, sans-serif;
  color: #333;
  line-height: 1em; }
  body:after {
    content: "";
    display: table;
    clear: both; }

div.banner {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #00F; }
  div.banner:last-child {
    margin-right: 0; }
  div.banner canvas {
    height: 300px;
    width: 1024px;
    background-color: #F0F; }
div#navbar {
  height: 20em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #EE3300; }
  div#navbar:last-child {
    margin-right: 0; }
div#blogContent {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  height: 20em;
  padding: 0;
  line-height: 2em;
  text-align: center;
  background-color: #33EE00; }
  div#blogContent:last-child {
    margin-right: 0; }
div.portfolio {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 20em;
  padding: 0;
  line-height: 2em;
  text-align: center;
  background-color: #33EE00; }
  div.portfolio:last-child {
    margin-right: 0; }
  div.portfolio div#project {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    height: 100%;
    background-color: #000;
    float: left;
    margin-bottom: 0.5em; }
    div.portfolio div#project:last-child {
      margin-right: 0; }
    div.portfolio div#project:nth-child(4n) {
      margin-right: 0; }
    div.portfolio div#project:nth-child(4n+1) {
      clear: left; }
div.main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 2em; }
  div.main:last-child {
    margin-right: 0; }
div aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  background-color: #000; }
  div aside:last-child {
    margin-right: 0; }

section {
  margin-bottom: 0em; }
  section > code, section code.block {
    display: block; }
  section#gallery {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section#gallery:last-child {
      margin-right: 0; }
    section#gallery div {
      height: 4em;
      line-height: 1em;
      text-align: left;
      padding: 0em; }
    section#gallery div.project {
      height: 21em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      section#gallery div.project:last-child {
        margin-right: 0; }
      section#gallery div.project:nth-child(4n) {
        margin-right: 0; }
      section#gallery div.project:nth-child(4n+1) {
        clear: left; }
  section.work {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    font-size: 75%; }
    section.work:last-child {
      margin-right: 0; }
    section.work div.projectTitle {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 19.75788%; }
      section.work div.projectTitle:last-child {
        margin-right: 0; }
    section.work div.projectDescription {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 65.61052%; }
      section.work div.projectDescription:last-child {
        margin-right: 0; }
      section.work div.projectDescription p:first-of-type {
        margin-top: 0em; }
      section.work div.projectDescription img {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%;
        padding: 2em 0em; }
        section.work div.projectDescription img:last-child {
          margin-right: 0; }
    section.work div.projectTags {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 8.29472%; }
      section.work div.projectTags:last-child {
        margin-right: 0; }

/*# sourceMappingURL=main.css.map */
