@import 'bourbon/bourbon';
//@import 'neat/grid-settings';
@import 'neat/neat';
 

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$blockcolor: #999;
$blockcolor-light: #DDD;
$body-line-height: 1em;
$banner-height: 300px;
$font-size: 75%;

.responsive-element {
      	@include media(769px) {
		@include span-columns(6);
	}
}

body { 
// @include outer-container;
  font: 100% $font-stack;
  color: $primary-color;
  line-height: $body-line-height;
}


/*div {

   &#navbar {
		height: 20em;
		//font-size: 90%;		
        @include span-columns(3);
		//background-color: #EE3300;
   }

   &.main {
	@include span-columns(12);
	padding-top: 2em;
   }
} */

canvas {
	@include span-columns(12);
	height: $banner-height;
	width: 100%;
	background-color: #F0F;
	margin-bottom: 4em;
}

section{
	@include outer-container;
//	text-align: center;
	margin-bottom: 0em;

	& > code, code.block {
		display: block;
	}

	&#navbar {
		height: 20em;
		//font-size: 90%;		
        @include span-columns(3);
		//background-color: #EE3300;		
	}

	&#gallery {
		@include span-columns(12);
		div {
			height: $body-line-height*4;
			line-height: $body-line-height;
			text-align: left;
			padding: 0em; //1em;
		}

		div.project {
			//font-size: 0.78em;
			height: 21em;
			@include span-columns(3);
			@include omega(4n);
		}	
	}

	&.work {	
		@include span-columns(9);
		font-size: 75%;

		section.projectTitle {
			@include span-columns(2 of 9);
			
			h1 {
				margin-top: 0em;
			
			}
		}
		
		article {
			@include span-columns(6 of 9);

			p:first-of-type {
				margin-top: 0em;
			}

			img {
				@include span-columns(6 of 6);
				padding: 2em 0em;
			}


		}

		aside.projectTags {
			@include span-columns(1 of 9);
		}
	}
}



