@import 'bourbon/bourbon';
@import 'neat/grid-settings';
@import 'neat/neat';


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$blockcolor: #999;
$blockcolor-light: #DDD;
$body-line-height: 1em;
$banner-height: 300px;
$font-size: 75%;
$gallery-img-width: 180px;
$gallery-img-height: $gallery-img-width * .67; //133px;
$post-img-width: 670px;
$post-img-height: 446px;

body {
// @include outer-container;
  font: 100% $font-stack;
  color: $primary-color;
  line-height: $body-line-height;
}

body#landingPage {
  @include outer-container;

 .frame {
  @include span-columns(12);
  padding: 10em;
  text-align: center;
 }
  
  #p5container {
  @include span-columns(12);
  }

  canvas {
    margin-bottom: 4em;
  }
}
/*
*/



  a, a:link, a:visited, a:hover {
	text-decoration: none;
	color: $primary-color;
   }
	a:hover {
	   text-decoration: none;
	   border-bottom: 1px #333 dotted;
   	}

/*
canvas {
 @include span-columns(12);
 height: $banner-height;
 width: 100%;
 background-color: #F0F;
 margin-bottom: 4em;
}
*/

section{
 @include outer-container;
// text-align: center;
 margin-top: 4em;
 margin-bottom: 0em;

 & > code, code.block {
  display: block;
 }

 &#navbar {
  height: 20em;
  font-size: $font-size;
  @include span-columns(3);
  //background-color: #EE3300;
 }

 // Styling for gallery landing page

 &#gallery {
  @include span-columns(9);
//  @include shift(2);

  figure {
   @include span-columns(3);
   @include omega(3n);

   font-size: $font-size;
   height: 100%;
   text-align: left;
   padding: 0em; //1em;
   margin: 0 0 2em 0em;

   a:hover {
      border: none;
   }
   img {
    width: $gallery-img-width;
    height: $gallery-img-height;
   }

   h3{
     color: #f00;
     margin-top: 0em;

   }
    figcaption {
     //color: #000;
     margin-top: 0.5em;
   }

   div.gallery-title {
	a:hover {
	   border-bottom: 1px #333 dotted;
   	}
   }

  }

  div.project {
   height: 100%;
   //line-height: $body-line-height;
   text-align: left;
   padding: 0em; //1em;
   margin-bottom: 2em;
   //font-size: 0.78em;
   //height: 21em;
   @include span-columns(3);
   @include omega(3n);

   img {
    width:200px;
    height:133px;
   }

   h3 {
     color: #f00;
     margin-top: 0em;

   }
  }
 }

//Styling for posts about gallery work
 &.work {
  @include span-columns(9);
  font-size: $font-size;

  section.projectTitle {
   @include span-columns(2 of 9);
   margin: 0em;
   h1 {
    margin: 0em;
   }
  }

  article {
   @include span-columns(6 of 9);

   p:first-of-type {
    margin-top: 0em;
   }

   img,iframe {
    @include span-columns(6 of 6);
    padding: 2em 0em;
   }
  }

  aside.projectTags {
   @include span-columns(1 of 9);
  }
  
 }
}



