/*
$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: back;
$visual-grid-opacity: 0.5;
*/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  line-height: 1em; }

body#landingPage {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  body#landingPage:after {
    content: "";
    display: table;
    clear: both; }
  body#landingPage .frame {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 5em 10em 10em 10em;
    text-align: center; }
    body#landingPage .frame:last-child {
      margin-right: 0; }
    body#landingPage .frame a {
      font-size: 200%;
      border: none; }
  body#landingPage #p5container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    body#landingPage #p5container:last-child {
      margin-right: 0; }
  body#landingPage canvas {
    margin-bottom: 4em; }

/*
*/
a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: #999;
  border-bottom: 1px #333 dotted; }

a:hover {
  text-decoration: none;
  color: #333;
  border-bottom: 1px #333 dotted; }

/*
canvas {
 @include span-columns(12);
 height: $banner-height;
 width: 100%;
 background-color: #F0F;
 margin-bottom: 4em;
}
*/
section {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  section > code, section code.block {
    display: block; }
  section#navbar {
    height: 20em;
    font-size: 75%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0em; }
    section#navbar:last-child {
      margin-right: 0; }
    section#navbar a, section#navbar a:link, section#navbar a:visited, section#navbar a:hover {
      text-decoration: none;
      color: #333;
      border: none; }
    section#navbar a:hover {
      border-bottom: 1px #333 dotted; }
  section#gallery {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    section#gallery:last-child {
      margin-right: 0; }
    section#gallery figure {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      font-size: 75%;
      height: 100%;
      text-align: left;
      padding: 0em;
      margin: 0 0 2em 0em; }
      section#gallery figure:last-child {
        margin-right: 0; }
      section#gallery figure:nth-child(3n) {
        margin-right: 0; }
      section#gallery figure:nth-child(3n+1) {
        clear: left; }
      section#gallery figure a, section#gallery figure a:hover {
        color: #333;
        border: none; }
      section#gallery figure img {
        width: 180px;
        height: 120.6px; }
      section#gallery figure h3 {
        color: #f00;
        margin-top: 0em; }
      section#gallery figure figcaption {
        margin-top: 0.5em; }
      section#gallery figure div.gallery-title a:hover {
        border-bottom: 1px #333 dotted; }
    section#gallery div.project {
      height: 100%;
      text-align: left;
      padding: 0em;
      margin-bottom: 2em;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      section#gallery div.project:last-child {
        margin-right: 0; }
      section#gallery div.project:nth-child(3n) {
        margin-right: 0; }
      section#gallery div.project:nth-child(3n+1) {
        clear: left; }
      section#gallery div.project img {
        width: 200px;
        height: 133px; }
      section#gallery div.project h3 {
        color: #f00;
        margin-top: 0em; }
  section.work {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    font-size: 75%; }
    section.work:last-child {
      margin-right: 0; }
    section.work section.projectTitle {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 19.75788%;
      margin: 0em; }
      section.work section.projectTitle:last-child {
        margin-right: 0; }
      section.work section.projectTitle h1 {
        margin: 0em; }
    section.work article {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 65.61052%;
      /* 
         img:first-child {
          padding: 0em 0em 2em 0em;
         }
      */ }
      section.work article:last-child {
        margin-right: 0; }
      section.work article p {
        padding: 0em 0em;
        margin-top: 2em; }
      section.work article p:first-of-type {
        margin-top: 0em; }
      section.work article img {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%;
        padding: 1em 0em;
        height: 100%; }
        section.work article img:last-child {
          margin-right: 0; }
      section.work article img + em {
        padding-bottom: 2em; }
      section.work article iframe {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%;
        height: 446px;
        padding: 2em 0em; }
        section.work article iframe:last-child {
          margin-right: 0; }
      section.work article iframe:first-of-type {
        padding-top: 0em; }
    section.work aside.projectTags {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 8.29472%; }
      section.work aside.projectTags:last-child {
        margin-right: 0; }

/*# sourceMappingURL=main.css.map */
