@import 'bourbon/bourbon';
@import 'neat/grid-settings';
@import 'neat/neat';
 

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$blockcolor: #999;
$blockcolor-light: #DDD;
$body-line-height: 1em;
$banner-height: 300px;
$font-size: 75%;

body { 
 @include outer-container;
  font: 100% $font-stack;
  color: $primary-color;
  line-height: $body-line-height;
}



div {
   &.banner  {
    @include span-columns(12);
 
    canvas {
     height: $banner-height;
     width: 1024px;
     background-color: #F0F;
    }background-color: #00F;
   }

   &#navbar {
		height: 20em;
		//font-size: 90%;		
        @include span-columns(3);
		background-color: #EE3300;
   }

   &#blogContent {
        @include span-columns(7);
		height: 20em;
        padding: 0;
        line-height: $body-line-height*2;
        text-align: center;
		background-color: #33EE00;
//	article {
//	  @include span-columns
//	}
   }

   &.portfolio {
        @include span-columns(12);
		height: 20em;
        padding: 0;
        line-height: $body-line-height*2;
        text-align: center;
		background-color: #33EE00;

        div#project {
          	@include span-columns(3);
	  	  	@include omega(4n);
	  		height: 100%;
//          padding: 1em;
	  		background-color: #000;
			float: left;
			margin-bottom: 0.5em;
        }
   }

   &.main {
	@include span-columns(12);
	padding-top: 2em;
   }


   aside {
	@include span-columns(2);
	background-color: #000;
   }
} 


section{
//	@include outer-container;
//	text-align: center;
	margin-bottom: 0em;

	& > code, code.block {
		display: block;
	}

	&#gallery {
		@include span-columns(12);
		div {
			height: $body-line-height*4;
			line-height: $body-line-height;
			text-align: left;
			padding: 0em; //1em;
		}

		div.project {
			//font-size: 0.78em;
			height: 21em;
			@include span-columns(3);
			@include omega(4n);
		}	
	}

	&.work {		
		@include span-columns(9);
		font-size: 75%;

		div.projectTitle {
			@include span-columns(2 of 9);
		}
		
		div.projectDescription {
			@include span-columns(6 of 9);

			p:first-of-type {
				margin-top: 0em;
			}

			img {
				@include span-columns(6 of 6);
				padding: 2em 0em;
			}


		}

		div.projectTags {
			@include span-columns(1 of 9);
		}
	}
}



