@import 'bourbon/bourbon';
@import 'neat/grid-settings';
@import 'neat/neat';
 

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$blockcolor: #999;
$blockcolor-light: #DDD;
$body-line-height: 1em;


body { 
 @include outer-container;
  font: 100% $font-stack;
  color: $primary-color;
  line-height: $body-line-height;
}



div {
   &.banner  {
    @include span-columns(12);
 
    canvas {
     height: 300px;
     width: 1024px;
     background-color: #F0F;
    }background-color: #00F;
   }

   &#navbar {
	height: 20em;
        @include span-columns(3);
	background-color: #EE3300;
   }

   &#blogContent {
        @include span-columns(7);
	height: 20em;
        padding: 0;
        line-height: $body-line-height*2;
        text-align: center;
	background-color: #33EE00;

//	article {
//	  @include span-columns
//	}
   }

   &.portfolio {
        @include span-columns(12);
	height: 20em;
        padding: 0;
        line-height: $body-line-height*2;
        text-align: center;
	background-color: #33EE00;

        div#project {
          @include span-columns(3);
	  @include omega(4n);
	  height: 100%;
//          padding: 1em;
	  background-color: #000;
	  float: left;
	  margin-bottom: 0.5em;
        }
   }

   aside {
	@include span-columns(2);
	background-color: #000;
   }
} 


section#gallery {
	@include outer-container;
	text-align: center;
	margin-bottom: 3em;

	& > code, code.block {
		display: block;
	}

	div {
		height: $body-line-height*4;
		line-height: $body-line-height;
		text-align: left;
		padding: 1em;
	}

	div.project {
		font-size: 0.78em;
		height: 8em;
		@include span-columns(3);
		@include omega(4n);
	}	
}
