---
layout: rdefault
---


<div class="banner">
  <canvas></canvas>
</div>

<div class="main">
 <div id="navbar">
  <p>about</p>
  <p>bio</p>
  <p>work</p>
  </div>

  <div id="blogContent">
    <div class="project">
    </div>
    <div class="project">
    </div>
    <div class="project">
    </div>
    <div class="project">
    </div>
    <div class="project">
    </div>
    <div class="project">
    </div>
    <div class="project">
    </div>
   </div>
</div>
<aside>
the date and keywords will go here
</aside>
