<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    	<section>
			{% include banner.html %}

			<section id="navbar">
				{% include mainNav.html %}
			</section>					

			<section class="work">
				<section class="projectTitle">
					<h1>
					{{ page.projectTitle }}
					</h1>
				</section>
				<article class="projectDescription">
					{{ content }}
				</article>
				<aside class="projectTags">
					{{ page.tags }}
				</aside>
			</section>			
		</section>
    </body>
</html>
