<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    	<section>
 <!-- 			{% include banner.html %} -->

			<section id="navbar">
				{% include mainNav.html %}
			</section>					

			<section class="work">
				<section class="projectTitle">
					<h1>
					{{ page.projectTitle }}</br>
					{{ page.projectDate }}
					</h1>
				</section>
				<article class="projectDescription">
					{{ content }}
<iframe src="//player.vimeo.com/video/68739505" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://{{ page.videolink }}">{{ page.videotitle }}</a> from <a href="http://vimeo.com/oliverellmers">Oliver Ellmers</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	
				</article>
				<aside class="projectTags">
					{{ page.tags }}
				</aside>
		</section>			
		</section>
    </body>
</html>
